.c-search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  .c-search-input__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
  }
  .c-search-input__label {
    font-size: 16px;
    margin-right: 10px;
  }
  .c-search-input__input-field {
    border-radius: 25px;
    border: 1px solid lightgrey;
    height: 25px;
    outline: none;
    padding: 0 10px;
  }
  .c-search-input__search-results {
    font-size: 16px;
    color: grey;
  }
}
