:host {
  outline: none;
  margin: 0 10px;
}
.c-button {
  border-radius: 25px;
  height: 25px;
  border: none;
  padding: 0 10px;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  outline: none;
}
